# Crear y modificar un diccionario de python

### Creando diccionario

In [11]:
planet = {
    'name': 'Mars',
    'moons': 2
}

### Recuperando valores

In [12]:
print(planet['name'], 'as', planet['moons'], 'moons')

Mars as 2 moons

### Agregando un nuevo valor

In [13]:
planet['circunferencia (km)'] = {
    'polar': 6752,
    'equatorial': 6792
}

### Nombre del planeta con su circunferencia polar.

In [14]:
print(planet['name'], 'has a polar circunferencia of', planet['circunferencia (km)']['polar'])

Mars has a polar circunferencia of 6752

# Programación dinámica con diccionarios

### Calculando de valores

In [15]:
planetMoons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

### Obtenemos la lista de las lunas

In [16]:
moons = planetMoons.values()

### Obtenemos el total de planetas

In [17]:
planets = len(planetMoons.keys())

### Calculando el total de lunas

In [18]:
totalMoons = 0

for moon in moons:
    totalMoons = totalMoons + moon

averege = totalMoons / planets
print(averege)

17.833333333333332